In [1]:
import pandas as pd
import numpy as np
import math

In [2]:
#Dataset Size
n = 5000
variance = 1

In [3]:
x = np.random.uniform(0,1,(n,5))

In [5]:
y = 10 * np.sin(math.pi * x[:,0]* x[:,1]) + 20 * np.square(x[:,2]+0.5) + 10 * x[:,3] + 5* x[:,4]
y = y + + np.random.normal(0,variance,y.shape)
y = np.reshape(y,(n,1))

In [6]:
dataset = np.concatenate((x,y), axis = 1)
df = pd.DataFrame(dataset,columns=['X0','X1','X2','X3','X4','Y'])
display(df)

            X0        X1        X2        X3        X4          Y
0     0.306492  0.197657  0.658887  0.774573  0.122921  39.486720
1     0.158354  0.099183  0.637731  0.173998  0.283803  27.386589
2     0.310126  0.649864  0.040823  0.973468  0.593768  23.799509
3     0.250921  0.751322  0.687833  0.345985  0.459064  39.443564
4     0.105269  0.895031  0.764170  0.919737  0.373595  46.415396
...        ...       ...       ...       ...       ...        ...
4995  0.213036  0.629233  0.229058  0.154903  0.234479  17.689690
4996  0.128793  0.568890  0.122756  0.343256  0.057191  13.903030
4997  0.399960  0.574916  0.464770  0.433831  0.747722  34.485734
4998  0.183628  0.952610  0.175380  0.695844  0.578013  23.656996
4999  0.807441  0.176545  0.121704  0.197015  0.110651  14.738490

[5000 rows x 6 columns]

In [7]:
df.to_csv("quadratic_constant_variance_dataset.csv")