In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import scrapbook as sb 
import pandas as pd
import numpy as np 
import seaborn as sns 
import numpy as np
from statistics import mean
import matplotlib.pyplot as plt

# Baseline

In [3]:
books = sb.read_notebooks("./BaseLine_Model_Output")
paramVal = [1,0.1,0.01]
stats_mae = [[] for i in range(3)]
cat_mae = [[] for i in range(3)]
for nb in books.notebooks: 
    paramVar = float(nb.papermill_dataframe.iloc[0]['value'])
    for i in range(3):
        if paramVar == paramVal[i]:
            stats_mae[i].append(nb.scraps['Stats Model MAE'].data)
            cat_mae[i].append(nb.scraps['Catboost MAE'].data)

In [4]:
for i in range(3):
    data = []
    for j in range(10):
        data.append([paramVal[i],stats_mae[i][j],cat_mae[i][j]])
    df = pd.DataFrame(data, columns = ['Variance','Stats MAE','CAT MAE'])
    display(df)
    print(df.mean(axis=0))
    print("-------------------------------------------------------------")

   Variance  Stats MAE   CAT MAE
0         1   0.994410  0.840599
1         1   0.706606  0.674482
2         1   0.887031  0.750319
3         1   0.620111  0.807175
4         1   0.741842  0.849849
5         1   0.870848  0.933096
6         1   0.900278  0.891259
7         1   1.068877  0.786663
8         1   0.662091  0.800004
9         1   0.946493  0.541111

Variance     1.000000
Stats MAE    0.839859
CAT MAE      0.787456
dtype: float64
-------------------------------------------------------------

   Variance  Stats MAE   CAT MAE
0       0.1   0.311787  0.185240
1       0.1   0.312352  0.144518
2       0.1   0.248805  0.201034
3       0.1   0.306542  0.212572
4       0.1   0.420596  0.253258
5       0.1   0.259499  0.133235
6       0.1   0.165738  0.179468
7       0.1   0.332256  0.195139
8       0.1   0.287296  0.085591
9       0.1   0.276861  0.139710

Variance     0.100000
Stats MAE    0.292173
CAT MAE      0.172977
dtype: float64
-------------------------------------------------------------

   Variance  Stats MAE   CAT MAE
0      0.01   0.258063  0.144100
1      0.01   0.223275  0.136977
2      0.01   0.250377  0.081681
3      0.01   0.346926  0.117875
4      0.01   0.296131  0.098989
5      0.01   0.314935  0.155746
6      0.01   0.256130  0.108141
7      0.01   0.235141  0.159201
8      0.01   0.258305  0.136946
9      0.01   0.217812  0.116728

Variance     0.010000
Stats MAE    0.265710
CAT MAE      0.125638
dtype: float64
-------------------------------------------------------------